<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>



  
</head>
<body >

  
  <div class="py-3 px-4 d-flex flex-wrap  align-items-center " style="width:100vw; margin-left: 0; margin-right: 0;background-color: rgb(47, 47, 119); color:rgb(241, 129, 77)">
    <h5 class="mb-2 mb-lg-0 fs-2 " style="color:rgb(245, 231, 224)">Unique Supermall</h5>

    <nav class="navbar navbar-expand-lg p-0">
      <div class="container-fluid p-0">
       
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 450px;">
          <ul class="navbar-nav ms-lg-3 gap-lg-3 " >
            <li class="nav-item nav-link" ><a style="color:rgb(245, 231, 224)" class="nav-link active fs-4" href="/user/userDashboard">Stores</a></li>
            <li class="nav-item nav-link" ><a style="color:rgb(241, 129, 77)" class="nav-link fs-4" href="/user/compareProduct">CompareProducts</a></li>
          </ul>
        </div>
          <a
            href="/user/logout"
            class="btn fs-4 d-flex justify-content-center align-items-center"
            style="margin-left: 250px; background-color:rgb(201, 92, 42); color:rgb(245, 231, 224); height:40px;"
          >
            Logout
          </a>     
        </div>
    </nav>
  </div>

  

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const currentPath = window.location.pathname;

    const links = document.querySelectorAll(".navbar-nav .nav-link");

    links.forEach(link => {
      const href = link.getAttribute("href");

      if (href === currentPath) {
        // Active page
        link.style.color = "rgb(245, 231, 224)";
      } else {
        // Inactive page
        link.style.color = "rgb(241, 129, 77)";
      }
    });
  });
</script>


  

</body>
</html>
