<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update File</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <h2>Update File Name</h2>
    <form action="/update/{{file._id}}" method="POST">
      <input
        type="text"
        name="originalname"
        value="{{file.originalname}}"
        required
      />
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="/dashboard">Back to Dashboard</a>
  </body>
</html>