<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
     {{> headers }}

  <style>
    .custom-hover-btn:hover {
  background-color: rgb(44, 44, 190) !important;
  color: white !important;
  transform: scale(1.05);
  transition: 0.3s;
}

.custom-hover-btn{
  background-color: rgb(199, 211, 238);
}

  </style>
</head>
<body style="background-color: rgb(243, 239, 235);">

  

    
     {{> dashboard }}
    

  

 
      <div id="inputDiv" class="px-4 mt-5" >
      

          <h1 class="text-center mt-5" style="color: rgb(13, 13, 107);">Store List</h1>
      <table class="table table-bordered border-secondary" id="storeTable" >
        <thead>
          <tr>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Sr no.</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Store Name</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Address</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Floor</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Contact Number</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Description</th>
            <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      
    </div>

    <div id="viewStorePage" class="p-4" style="display: none;">
  <div class="px-4"  id="productList">
        <h1 class="text-center mt-5" style="color: rgb(13, 13, 107);">Product List</h1>

        <table class="table"  id="customerProductTable">
          <thead>
            <tr>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Sr no.</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Product Name</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Description</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Floor</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Features</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Category</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Price</th>
              <th style="background-color: rgb(31, 31, 148); color:rgb(241, 129, 77); font-size:20px;">Offer</th>
             

            </tr>
          </thead>
          <tbody></tbody>

        </table>

        <button type="button" id="back" class="btn text-white " 
         style="background-color: rgb(31, 31, 148); font-size:15px;">Back</button>
      </div>
</div>


 
       


  
  


    <script src="../js/userDashboard.js"></script>

</body>
</html>