<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
      {{> headers }}
  </head>
  <body>


    <h1 class="mt-5 text-center">Welcome to the SuperMall</h1>
    <div class="container text-end">
          <a href="/user/userRegistration" class="btn btn-primary mt-3 " id="regBtn">Registration</a>
          <a href="/user/userLogin" class="btn btn-primary mt-3 ms-2 " id="loginBtn">Login</a>
    </div>

   

    <script src="../js/user.js"></script>


    

  


  </body>
</html>