<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
     {{> headers }}
</head>
<body>
        <button type="submit" class="btn btn-primary mt-3 ms-5">Store</button>

  <div id="inputDiv" class="px-4">
      

          <h1 class="text-center">Store List</h1>
      <table class="table" id="storeTable" >
        <thead>
          <tr>
            <th>Sr no.</th>
            <th>Store Name</th>
            <th>Address</th>
            <th>Floor</th>
            <th>Contact Number</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <button
        type="button"
        id="backToMenuFromList"
        class="btn btn-secondary mt-3"
      >Back</button>
    </div>

    <div id="viewStorePage" class="p-4" style="display: none;">
  <h3 class="text-center mb-4">Store Details</h3>
  <div class="card">
    <div class="card-body">
      <p><strong>Store Name:</strong> <span id="viewStoreName"></span></p>
      <p><strong>Address:</strong> <span id="viewAddress"></span></p>
      <p><strong>Floor:</strong> <span id="viewFloor"></span></p>
      <p><strong>Contact Number:</strong> <span id="viewContactNumber"></span></p>
      <p><strong>Description:</strong> <span id="viewDescription"></span></p>
    </div>
  </div>
  <div>
    <button id="addProduct" class="mt-3">Add Product</button>
    <button id="listProduct" class="ms-2" >List of Products</button>
  </div>
  <div class="mt-4 text-center">
    <button id="backToListFromView" class="btn btn-secondary">Back</button>
  </div>
</div>

    <script src="../js/userDashboard.js"></script>

</body>
</html>